swagger: '2.0'

info:
  version: 1.0.0
  title:  GDBL非同期AI基盤
  description: |
    #### GDBLAIプラットフォームで利用可能なAPIの仕様を以下に示します。
  termsOfService: aaaaa
schemes:
  - https
host: apge-001.mgt.d-t-openconnect.com
#basePath: /
paths:
  /gdblurlallocate:
    post:
      summary: アップロード先払い出し
      description: S3の入出力フォルダを作成し返却します
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: X-Api-Key
          in: header
          description: APIキー
          type: string
          required: true
      responses:
        200:
          description: 成功時のレスポンス
          schema:
            type: object
            properties:
              uploadDestination:
                $ref: "#/definitions/urlallocate"
        400:
          description: エラー時のレスポンス
          schema:
            type: object
            properties:
              uploadDestination:
                $ref: "#/definitions/urlallocate"
  /gdblsoudenanalyze:
    post:
      summary: 送電線診断AI実行受付
      description: 送電線診断AIのジョブ実行依頼を発行します
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: X-Api-Key
          in: header
          description: APIキー
          type: string
          required: true
        - name: receiptId
          in: body
          schema:
            type: object
            properties:
              executionReception:
                type: object
                properties:
                  receiptId:
                    example: "1234567890"
          description: 名称
          required: true
      responses:
        200:
          description: 成功時のレスポンス
          schema:
            type: object
            properties:
              executionReception:
                $ref: "#/definitions/common_res"
  /gdbljobstate/{receiptId}:
    get:
      parameters:
        - name: X-Api-Key
          in: header
          description: APIキー
          type: string
          required: true
        - name: receiptId
          in: path
          description: 受付ID
          type: string
          required: true
      responses:
        200:
          description: 成功時のレスポンス
          schema:
            type: object
            properties:
              statusInf:
                $ref: "#/definitions/jobstate"
  /gdbljobstata/{receiptId}:
    get:
      parameters:
        - name: X-Api-Key
          in: header
          description: APIキー
          type: string
          required: true
        - name: receiptId
          in: path
          description: 受付ID
          type: string
          required: true
      responses:
        200:
          description: 成功時のレスポンス
          schema:
            type: object
            properties:
              statusInf:
                $ref: "#/definitions/jobstate"
definitions:
  common_res:
    type: object
    properties:
      result:
        type: string
        example: "OK"
      code:
        type: string
        example: "0.0"
      details:
        type: string
        example: ""
  urlallocate:
    allOf:
      - $ref: "#/definitions/common_res"
      - type: object
        properties:
          receiptId:
            type: string
            example: "1234567890"
          urlUl:
            type: string
            example: "s3-xxx001-xxx001-xxx001-001/1234567890/UL/550e8400-e29b-41d4-a716-446655440000/"
  jobstate:
    allOf:
      - $ref: "#/definitions/common_res"
      - type: object
        properties:
          status:
            type: string
            example: "3"
          urlDl:
            type: string
            example: "s3-xxx001-xxx001-xxx001-001/1234567890/DL/550e8400-e29b-41d4-a716-446655440000/"
          receiptOrder:
            type: string
            example: ""
    
    
    
    