swagger: '2.0'

info:
  version: 1.0.0
  title:  "GDBLJobState"
  description: |
    #### GDBL ジョブ実行状態取得API
    #### URI：https://apge-001.mgt.t-openconnect.com/gdbljobstate
  #termsOfService: "https://apge-001.mgt.t-openconnect.com"
  contact:
    email: "gdbl_helpdesk@kits.nttdata.co.jp"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
schemes:
  - "https"
host: "wbap-001.sup001.d-t-openconnect.com"
basePath: /G1AIPFS/IF01_01_001_2
tags:
- name: "GDBLJobState"
  description: "GDBL ジョブ実行状態取得"
paths:
  /:
    post:
      tags:
      - "GDBLJobState"
      summary: "GDBL ジョブ実行状態取得"
      parameters:
        - name: "X-Api-Key"
          in: "header"
          description: "ヘッダに指定するAPIキー"
          type: "string"
          required: true
        - name: "receiptId"
          in: "path"
          description: "受付ID"
          type: "string"
          required: true
      responses:
        200:
          description: "リクエスト成功。ジョブが実行終了している場合はstatus値が「3」で結果ファイルの格納先URLが返却される。業務エラーが発生した場合はレスポンスボディのcode値が「0.0」以外となる。（エラーコード 1.1：単項目チェックエラー、5.1該当データなし）"
          schema:
            type: "object"
            properties:
              statusInf:
                $ref: "#/definitions/jobstate"
        400:
          description: "リクエスト構文不正"
        401:
          description: "認可エラー"
        403:
          description: "認証情報不正"
        404:
          description: "リクエストURI不正"
        405:
          description: "リクエストメソッド不正"
        406:
          description: "Acceptヘッダ不正"
        409:
          description: "リクエストタイムアウト"
        415:
          description: "コンテンツタイプ不正"
        429:
          description: "リクエスト数上限超過"
        500:
          description: "システムエラー"
        502:
          description: "レスポンス受信失敗"
        503:
          description: "サーバ利用不可"
        504:
          description: "レスポンスタイムアウト"
definitions:
  common_res:
    type: "object"
    required:
      - "result"
      - "code"
      - "details"
    properties:
      result:
        type: "string"
        example: "OK"
      code:
        type: "string"
        example: "0.0"
      details:
        type: "string"
        example: ""
  jobstate:
    allOf:
      - $ref: "#/definitions/common_res"
      - type: "object"
        properties:
          status:
            type: "string"
            example: "3"
          urlDl:
            type: "string"
            example: "s3-xxx001-xxx001-xxx001-001/1234567890/DL/550e8400-e29b-41d4-a716-446655440000/"
          receiptOrder:
            type: "string"
            example: ""
    
    
    
    